*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: aqua;
    display: flex;
    flex-direction: row;
}

.left-side, .right-side{
    background-color: #222;
    width: 50vw;
    height: 100vh;
}

.lft-btns , .rt-btns{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10vh;
    align-items: center;
    justify-content: space-evenly;
}

.input {
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
  }

  .file-input label {
    display: block;
    position: relative;
    width: 200px;
    height: 40px;
    border-radius: 25px;
    background: linear-gradient(40deg, #ff6ec4, #7873f5);
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: transform .2s ease-out;
  }

input:hover + label,
input:focus + label {
  transform: scale(1.02);
}

/* CSS for buttons*/
.button {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}


/* end of left buttons */

.calculated-table{
    width: 50vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

table{
    background-color: grey;
    width: 40vw;
    height: 60vh;
    text-align: center;
}

td{
    border: 2px black solid;
    font-size: 7px;
    height: 100px;
}


/* End of the left Side */

.labels{
    width: 50vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.labels div{
    background-color: #222;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
    width: 20vw;
    padding: 10px;
    
}

.result{
    width: 50vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    justify-content: center;
    color: white;
}

